<section class="footer">

    <a class="icon-header" title="icono acceso al header" href="">
        <img src="./assets/images/ico-arrow.svg" alt="icono de acceso el principio de la página" />
    </a>

    <div class="container-footer">
        <div class="container1">
            <ul>
                <li class="text-footer"><a title="Adalab link" href="https://adalab.es/"></a>ZAPATILLAS</li>
                <li class="text-footer"><a title="Adalab link" href="https://adalab.es/"></a>ROPA</li>
                <li class="text-footer"><a title="Adalab link" href="https://adalab.es/"></a>NIÑO/A</li>
                <li class="text-footer"><a title="Adalab link" href="https://adalab.es/"></a>DESTACADOS</li>
                <li class="text-footer"><a title="Adalab link" href="https://adalab.es/"></a>TIPS</li>
            </ul>
        </div>

        <div class="container2">
            <ul>
                <li class="text-footer-rrss"><a title="Adalab link" href="https://adalab.es/"></a>TWITTER</li>
                <li class="text-footer-rrss"><a title="Adalab link" href="https://adalab.es/"></a>INSTAGRAM</li>
                <li class="text-footer-rrss"><a title="Adalab link" href="https://adalab.es/"></a>YOUTUBE</li>
            </ul>

        </div>

        <small class="container3">
            <p class="copyright">©2023</p>
            <p class="icon-footer">we<span style="color:#f26002"> ❤︎ </span>run</p>
        </small>
    </div>

</section>