<header>

    <img class="hero" src="./assets/images/cover.jpeg" alt="Persona atándose las zapatillas" />

    <div class="boxhero">
        <h1 class="boxhero__title">HASTA UN 50% DE DESCUENTO</h1>
        <p class="boxhero__text">Ya están aquí las ofertas de fin de temporada</p>
        <a class="boxhero__scroll" title="ico scroll down" href="">
            <img src="./assets/images/ico-scroll-down.svg" alt="flecha scroll down" />
        </a>
    </div>

    <a class="menu-header" title="Adalab" href="https://adalab.es/">
        <img src="./assets/images/ico-menu.svg" alt="menu" />
    </a>


</header>