<header>
    <img class="image-hero" src="./assets/images/cover.jpeg" alt="Persona atándose las zapatillas" />
    <div>
        <h1>HASTA UN 50% DE DESCUENTO</h1>
        <p>Ya están aquí las ofertas de fin de temporada</p>
        <a title="" href="">
            <img src="./assets/images/ico-scroll-down.svg" alt="flecha scroll down" />
        </a>
        <input class="header__button" type="button" src="" />
    </div>
    <div>
        <a title="Adalab" href="https://adalab.es/">
            <img src="./assets/images/ico-menu.svg" alt="menu" />
        </a>
    </div>

    </div>
</header>