<section class="main2">

    <h2 class="title-main2">Año nuevo, movimientos nuevos</h2>

    <div class="main2__box">
        <div class="main2__box__box">
            <h3 class="main2__box__box__h3">Entrenamientos</h3>
            <p class="main2__box__box__p">Sesiones de running y entrenamientos.</p>
        </div>
        <div class="main2__box__box">
            <h3 class="main2__box__box__h3">Cualquier nivel</h3>
            <p class="main2__box__box__p">Entrenamientos para cada nivel.</p>
        </div>
        <div class="main2__box__box">
            <h3 class="main2__box__box__h3">Exclusividad</h3>
            <p class="main2__box__box__p">Productos para miembros premium.</p>
        </div>
    </div>
    <div class="button-orange">
        <button class="button-orange-empezar" type="button">Empezar ahora</button>
    </div>
</section>